.register-new-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
	
	border-radius: 20px;
}
.color-white {
	color: white;
}


.form {
	// background-color: yellow;
	width: 300px;

	> h3 {
		color: tomato;
		margin-bottom: 20px;
		font-size: 20px;
	}
	> div {
		margin: 5px 0px;
		
		
		> input {
			width: 100%;
			height: 40px;
			margin: 5px 0;
			padding-left: 10px;
			outline: none;
			border: none;
            box-shadow:0px 0px 2px 1px rgba(78, 76, 76, 0.477);
			border-radius: 5px;
			font-size: 16px;
			letter-spacing: 1px;
		}
	}
	.action-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		> button {
			height: 35px;
			width: 150px;
            font-family: Roboto;
			background-color:var(--blue);
			color: white;
			font-size: 16px;
            border: none;
            border-radius: 5px;
            transition: 0.4s;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 99, 71, 0.733);
            }
		}
	}
    >p{
        cursor: pointer;
        transition: 0.4s;
		margin: 10px 0px;
        &:hover{
            color: tomato;
        }
    }
	.link{
		color: rgb(71, 126, 255);
	}
}
.image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	
	>label{
		>img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
}
	
}
.image-input{
	// border: solid 1px red;
	>.file-input{
		display: none;
		padding-left: 0px;
		
	}
	> .file-input::file-selector-button {

		cursor: pointer;
		width: 100%;
		z-index: 2;
		height: 100%;
		border: none;
		margin: 0%;
		font-size: 20px;
		font-family: Roboto;
		transition: all 0.5s;
		padding: 0 1vmax;
		color: rgba(0, 0, 0, 0.623);
		background-color: rgb(250, 244, 244);
	  }
	  > .file-input::file-selector-button:hover {
		background-color: rgb(235, 235, 235);
	  }
}

